@import "@atlas-design-system/core/dist/styles/partials/global.css";
@import "@atlas-design-system/core/dist/styles/partials/typography.css";
@import "@atlas-design-system/core/dist/styles/partials/flexboxgrid.css";
@import "@atlas-design-system/tokens/dist/tokens.css";
@import "@atlas-design-system/core/dist/styles/partials/fonts.css";

@import "@atlas-design-system/core/dist/styles/partials/buttons.css";
@import "@atlas-design-system/core/dist/styles/partials/footer.css";
@import "@atlas-design-system/core/dist/styles/partials/form-control.css";
@import "@atlas-design-system/core/dist/styles/partials/form.css";
@import "@atlas-design-system/core/dist/styles/partials/header.css";
@import "@atlas-design-system/core/dist/styles/partials/link.css";
@import "@atlas-design-system/core/dist/styles/partials/link-group.css";
@import "@atlas-design-system/core/dist/styles/partials/input.css";

/* PAGES */

.page {
  width: 90vw;
  max-width: var(--screenWidthL);
  margin: 0 auto;
}

.page {
  min-height: calc(100vh - (6rem + 4rem));
}

/* LOGIN FORM/PAGE */

.bg-sand {
  background-color: var(--primaryB100);
}

.login-logo {
  padding-bottom: var(--spaceXXL);
}

.login-header {
  padding-bottom: var(--spaceS);
}

.login-text {
  padding-bottom: var(--spaceXL);
}

.login-input {
  padding-top: var(--spaceL);
}

.login-button {
  justify-content: center;
  padding: var(--spaceXL) 0;
}
