@import "@atlas-design-system/core/dist/styles/partials/global.css";
@import "@atlas-design-system/core/dist/styles/partials/typography.css";
@import "@atlas-design-system/core/dist/styles/partials/flexboxgrid.css";
@import "@atlas-design-system/tokens/dist/tokens.css";
@import "@atlas-design-system/core/dist/styles/partials/fonts.css";

@import "@atlas-design-system/core/dist/styles/partials/buttons.css";
@import "@atlas-design-system/core/dist/styles/partials/button-group.css";

@import "@atlas-design-system/core/dist/styles/partials/header.css";
@import "@atlas-design-system/core/dist/styles/partials/footer.css";
@import "@atlas-design-system/core/dist/styles/partials/dropdown.css";

@import "@atlas-design-system/core/dist/styles/partials/form-control.css";
@import "@atlas-design-system/core/dist/styles/partials/form.css";
@import "@atlas-design-system/core/dist/styles/partials/input.css";
@import "@atlas-design-system/core/dist/styles/partials/textarea.css";

@import "@atlas-design-system/core/dist/styles/partials/link.css";
@import "@atlas-design-system/core/dist/styles/partials/link-group.css";

@import "@atlas-design-system/core/dist/styles/partials/card.css";
@import "@atlas-design-system/core/dist/styles/partials/card-list.css";

@import "@atlas-design-system/core/dist/styles/partials/icon-card.css";
@import "@atlas-design-system/core/dist/styles/partials/icons.css";

@import "@atlas-design-system/core/dist/styles/partials/lozenge.css";

/* HEADER */

/* .header-arrow-down-icon {
  padding-top: var(--spaceS);
  padding-right: var(--spaceS);
} */

/* PAGES */

.page {
  width: 90vw;
  margin: 0 auto;
}

.page {
  min-height: calc(100vh - (6rem + 4rem));
}

.bg-sand {
  background-color: var(--primaryB100);
}

/* LOGIN FORM/PAGE */

.login-logo {
  padding-bottom: var(--spaceXXL);
}

.login-header {
  padding-bottom: var(--spaceS);
}

.login-text {
  padding-bottom: var(--spaceXL);
}

.login-input {
  padding-top: var(--spaceL);
}

.login-button {
  justify-content: center;
  padding: var(--spaceXL) 0;
}

/* HOME PAGE */

.home-hero {
  background-color: var(--primaryB200);
}

.home-page {
  height: auto;
  width: 100%;
  max-width: var(--screenWidthL);
  min-width: var(--screenWidthL);
  margin: 0 auto;
}

.home-hero-section-left {
  padding-top: var(--spaceXXL);
}

.home-hero-header {
  padding-right: var(--spaceS);
}

.home-hero-text {
  margin: var(--spaceL) 0;
}

.home-hero-button {
  padding-top: var(--spaceXL);
}

.featured-journals-header {
  padding: var(--spaceXXL) 0;
}

.featured-journals-card-text {
  padding: var(--spaceM) 0;
}

.featured-journals-card-space {
  margin-right: var(--spaceL);
  margin-bottom: var(--spaceL);
}

/* HOME RESOURCES */

.home-resources-section {
  padding-bottom: 50px;
}

.border {
  border-bottom: 1px solid var(--primaryA300);
  margin: var(--spaceXL) 0;
}

.home-resources-heading {
  padding-bottom: var(--spaceS);
}

.home-resources-sub-heading {
  padding-right: var(--spaceS);
}

.home-resources-text {
  padding: var(--spaceM) 0;
}

.home-resources-button {
  margin-top: 70px;
}

/* ASSIGNMENTS PAGE */

.assignments-page-header {
  padding-top: var(--spaceXXL);
  padding-bottom: var(--spaceM);
}

.assignments-page-introduction {
  padding-bottom: var(--spaceM);
}

.assignments-row {
  padding-left: var(--spaceM);
}

.assignments-card {
  margin-bottom: var(--spaceXL);
}

.assignments-card-button {
  margin-right: var(--spaceM);
}

.assignments-card-text {
  padding: var(--spaceM) 0;
}

.assignment-button {
  margin-left: var(--spaceM);
}

/* SINGLE ASSIGNMENT PAGE */

.assignment-heading {
  padding-top: var(--spaceS);
  padding-left: var(--spaceM);
}

.assignment-intro {
  padding-top: var(--spaceS);
  padding-bottom: var(--spaceS);
  padding-left: var(--spaceM);
  padding-right: var(--spaceXXL);
}

.assignment-due-date {
  padding-right: var(--spaceS);
}

.back-to-assignments-button {
  padding-top: var(--spaceXXL);
  padding-bottom: var(--spaceXXL);
}

.assignment-description {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  align-items: center;
  margin-top: var(--spaceM);
  padding-left: var(--spaceXL);
  padding-right: var(--spaceXXL);
}

.assignment-card {
  padding-bottom: var(--spaceXXL);
}

/* JOURNALS PAGE */

.journals-display {
  justify-content: center;
}

.journals-page-header {
  padding-top: var(--spaceXXL);
  padding-bottom: var(--spaceM);
}

.journals-page-introduction {
  padding-bottom: var(--spaceL);
}

.journals-row {
  padding-left: var(--spaceM);
}

.journals-about {
  padding: var(--spaceM) 0;
  padding-right: var(--spaceM);
}

.journals-card {
  margin-bottom: var(--spaceXXL);
}

/* CREATE JOURNAL PAGE */

.create-container {
  border: 1px solid var(--primaryA300);
  padding: 0 var(--spaceL);
  padding-bottom: var(--spaceL);
}

.end-page-padding {
  padding-bottom: 100px;
}

.create-journal-assignment {
  padding-top: var(--spaceXXL);
}

.create-journal-header {
  padding: var(--spaceXL) 0;
  padding-left: var(--spaceM);
}

.create-journal-header-text {
  margin-left: var(--spaceM);
}

/* CREATE JOURNAL EDITOR */

.input-bottom {
  margin-bottom: var(--spaceXL);
}

.rich-text-input {
  margin-bottom: var(--spaceXXL);
}
