@import "@atlas-design-system/core/dist/styles/partials/global.css";
@import "@atlas-design-system/core/dist/styles/partials/typography.css";
@import "@atlas-design-system/core/dist/styles/partials/flexboxgrid.css";
@import "@atlas-design-system/tokens/dist/tokens.css";
@import "@atlas-design-system/core/dist/styles/partials/fonts.css";

@import "@atlas-design-system/core/dist/styles/partials/buttons.css";
@import "@atlas-design-system/core/dist/styles/partials/button-group.css";

@import "@atlas-design-system/core/dist/styles/partials/header.css";
@import "@atlas-design-system/core/dist/styles/partials/footer.css";
@import "@atlas-design-system/core/dist/styles/partials/dropdown.css";

@import "@atlas-design-system/core/dist/styles/partials/form-control.css";
@import "@atlas-design-system/core/dist/styles/partials/form.css";
@import "@atlas-design-system/core/dist/styles/partials/input.css";
@import "@atlas-design-system/core/dist/styles/partials/checkbox.css";
@import "@atlas-design-system/core/dist/styles/partials/textarea.css";
@import "@atlas-design-system/core/dist/styles/partials/toast.css";

@import "@atlas-design-system/core/dist/styles/partials/link.css";
@import "@atlas-design-system/core/dist/styles/partials/link-group.css";

@import "@atlas-design-system/core/dist/styles/partials/card.css";
@import "@atlas-design-system/core/dist/styles/partials/card-list.css";

@import "@atlas-design-system/core/dist/styles/partials/icon-card.css";
@import "@atlas-design-system/core/dist/styles/partials/icons.css";

@import "@atlas-design-system/core/dist/styles/partials/lozenge.css";
@import "@atlas-design-system/core/dist/styles/partials/modal.css";
@import "@atlas-design-system/core/dist/styles/partials/dialog.css";
@import "@atlas-design-system/core/dist/styles/partials/tooltip.css";

/* HEADER */

/* .header-arrow-down-icon {
  padding-top: var(--spaceS);
  padding-right: var(--spaceS);
} */

/* PAGES */

.page {
  width: 90vw;
  margin: 0 auto;
}

.page {
  min-height: calc(100vh - (6rem + 4rem));
}

.bg-sand {
  background-color: var(--primaryB100);
}

/* LOGIN FORM/PAGE */
.login-page {
  overflow: hidden;
}

.login-form {
  justify-content: center;
}

.login-logo {
  padding-bottom: var(--spaceXXL);
}

.login-header {
  padding-bottom: var(--spaceS);
}

.login-text {
  padding-bottom: var(--spaceXL);
}

.login-input {
  padding-top: var(--spaceL);
}

.login-button {
  justify-content: center;
  padding: var(--spaceXL) 0;
}

/* LOGIN PAGE VALIDATION */
.validation-text {
  color: var(--errorColor90);
}

/* HOME PAGE */

.logout-button {
  margin-top: 6px;
}

.home-hero {
  background-color: var(--primaryB200);
}

.home-page {
  height: auto;
  width: 100%;
  max-width: var(--screenWidthL);
  min-width: var(--screenWidthL);
  margin: 0 auto;
}

.home-hero-section-left {
  padding-top: var(--spaceXXL);
}

.home-hero-header {
  padding-right: var(--spaceS);
}

.home-hero-text {
  margin: var(--spaceL) 0;
}

.home-hero-button {
  padding-top: var(--spaceXL);
}

.featured-journal-display {
  justify-content: center;
}

.featured-journals-header {
  padding: var(--spaceXXL) 0;
}

.featured-icon {
  padding: 0 var(--spaceS);
}

.featured-journals-card-text {
  padding: var(--spaceM) 0;
}

.featured-journals-card-space {
  margin-right: var(--spaceL);
  margin-bottom: var(--spaceL);
}

/* HOME RESOURCES */

.home-resources-section {
  padding-bottom: 50px;
}

.border {
  border-bottom: 1px solid var(--primaryA300);
  margin: var(--spaceXL) 0;
}

.home-resources-heading {
  padding-bottom: var(--spaceS);
}

.home-resources-sub-heading {
  padding-right: var(--spaceS);
}

.home-resources-text {
  padding-top: var(--spaceM);
}

.home-resources-button-one {
  margin-top: 75px;
}
.home-resources-button-two {
  margin-top: 42px;
}

/* ASSIGNMENTS PAGE */

.assignments-page-header {
  padding-top: var(--spaceXL);
  padding-bottom: var(--spaceXL);
  padding-left: var(--spaceXXL);
}

.assignments-row {
  padding-left: var(--spaceXXL);
}

.assignments-card {
  margin-bottom: var(--spaceXL);
}

.assignments-card-button {
  margin-right: var(--spaceM);
}

.assignments-card-text {
  padding: var(--spaceM) 0;
}

.assignment-button {
  margin-left: var(--spaceM);
}

.journal-icon-card {
  padding-right: 30px;
}

.assignment-tips {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  align-items: center;
  margin-bottom: var(--spaceL);
}

.tips-top-space {
  padding-top: var(--spaceL);
}

/* SINGLE ASSIGNMENT PAGE */

.assignment-heading {
  padding-top: var(--spaceS);
  padding-left: var(--spaceM);
}

.assignment-intro {
  padding-top: var(--spaceS);
  padding-bottom: var(--spaceS);
  padding-left: var(--spaceM);
  padding-right: var(--spaceXXL);
}

.assignment-due-date {
  padding-right: var(--spaceS);
}

.back-to-assignments-button {
  padding-top: var(--spaceXXL);
  padding-bottom: var(--spaceXXL);
}

.assignment-description {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  align-items: center;
  margin-top: var(--spaceM);
  padding-left: var(--spaceXL);
  padding-right: var(--spaceXXL);
}

.assignment-card {
  padding-bottom: var(--spaceXXL);
}

/* JOURNALS PAGE */

.journals-display {
  padding-left: var(--spaceXXL);
  justify-content: center;
}

.journals-page-header {
  padding-top: var(--spaceXL);
  padding-bottom: var(--spaceXL);
  padding-left: var(--spaceXXL);
}

.journals-page-introduction {
  padding-bottom: var(--spaceL);
}

.journals-about {
  padding: var(--spaceM) 0;
  padding-right: var(--spaceM);
}

.journals-card-space {
  margin-right: var(--spaceXXL);
  margin-bottom: var(--spaceXL);
}

.assignment-icon-card {
  padding-right: 48px;
}

/* CREATE JOURNAL PAGE */

.create-container {
  border: 1px solid var(--primaryA300);
  padding: 0 var(--spaceL);
  padding-bottom: var(--spaceL);
}

.end-page-padding {
  padding-bottom: 100px;
}

.create-journal-assignment {
  padding-top: var(--spaceXXL);
}

.create-journal-header {
  padding: var(--spaceXL) 0;
  padding-left: var(--spaceM);
}

.create-journal-header-text {
  margin-left: var(--spaceM);
}

/* CREATE JOURNAL EDITOR */

.input-bottom {
  margin-bottom: var(--spaceXL);
}

.rich-text-input {
  margin-bottom: var(--spaceXXL);
}

/* SINGLE JOURNAL PAGE */

.single-journal-buttons {
  padding-top: var(--spaceXXL);
}

.single-journal-title {
  padding-top: var(--spaceL);
  padding-bottom: var(--spaceL);
}

.single-journal-about {
  padding-bottom: var(--spaceL);
}

.single-journal-text {
  padding-top: var(--spaceXL);
  padding-bottom: var(--spaceXL);
}

.journal-assignment-card {
  padding-top: 75px;
  padding-bottom: 100px;
}

.assignment-display {
  justify-content: center;
}

.delete-button {
  margin-left: var(--spaceM);
}

.heading-2 {
  padding: var(--spaceS) 0;
}

.heading-3 {
  padding-top: var(--spaceM);
}


.paragraph-1 {
  padding: var(--spaceXS) 0;
}

/* DELETE JOURNAL MODAL */

.text-display {
  justify-content: center;
  text-align: center;
}

.modal-spacing {
  padding: var(--spaceXXL);
}
.modal-heading {
  padding-top: var(--spaceL);
  padding-bottom: var(--spaceM);
}

.modal-subheading {
  padding-bottom: var(--spaceS);
}

.modal-buttons {
  padding-bottom: var(--spaceS);
}

.page-bottom {
  padding-bottom: 100px;
}

/* INTERNSHIP EXPERIENCE */

.resources-hero-display {
  justify-content: center;
  padding-bottom: 100px;
}

.resources-hero {
  background-color: var(--primaryA900);
}

.resources-hero-text {
  color: var(--primaryB200);
}

.resources-page {
  padding-top: var(--spaceXL);
  padding-bottom: 100px;
}

.program-about {
  padding-left: var(--spaceXL);
}

.resources-text-space {
  padding-left: var(--spaceXL);
  margin-top: var(--spaceL);
  margin-bottom: var(--spaceL);
}

/* STUDENT */

.section {
  padding-top: var(--spaceXL);
}

.tips-heading {
  padding-top: var(--spaceXL);
}

.tips-paragraph {
  padding-top: var(--spaceS);
  padding-left: var(--spaceM);
}